<?php

$WP_ENV ='development';
$WP_HOME ='https://example.com';
$WP_SITEURL="${WP_HOME}/wp";

$DB_NAME='database_name';
$DB_USER='database_user';
$DB_PASSWORD='database_password';

$DB_HOST='localhost';
$DB_PREFIX='wp_';

$CONTENT_DIR='content';

$WP_DEBUG_LOG='/app/debug/debug.log';

// Generate your keys here: https://api.wordpress.org/secret-key/1.1/salt/ OR https://roots.io/salts.html

$AUTH_KEY           =   'generateme';
$SECURE_AUTH_KEY    =   'generateme';
$LOGGED_IN_KEY      =   'generateme';
$NONCE_KEY          =   'generateme';
$AUTH_SALT          =   'generateme';
$SECURE_AUTH_SALT   =   'generateme';
$LOGGED_IN_SALT     =   'generateme';
$NONCE_SALT         =   'generateme';